body {
    font-family: Arial, sans-serif;
    background-color: #1a2724;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding-top: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #4CAF50;
}

#searchBar {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.items-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.item-card {
    background-color: rgb(187, 205, 211);
    width: 200px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.item-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
}

.item-card h3 {
    margin: 10px 0;
    font-size: 18px;
}

.item-card p {
    margin: 5px 0;
    color: #666;
}
